
*.txt
*.feat
code/Assignment1/data/aclImdb/imdb.vocab
code/CUDAMacOSXInstaller.app/Contents/Info.plist
*.png
*.gz
*.manifest
*.icns
*.car
*.nib
*.xml
code/CUDAMacOSXInstaller.app/Contents/_CodeSignature/CodeResources
code/CUDAMacOSXInstaller.app/Contents/MacOS/CUDAMacOSXInstaller
code/CUDAMacOSXInstaller.app/Contents/PkgInfo
*.strings
code/Assignment1/data/aclImdb/.DS_Store
code/Assignment1/data/.DS_Store
code/Labs/lab4/data.p
*.p
code/Labs/lab3_v2/newsgroups.val
code/Labs/lab3_v2/newsgroups.train
code/Labs/lab3_v2/newsgroups.test
code/Labs/lab3_v2/newsgroups.proc.val
code/Labs/lab3_v2/newsgroups.proc.train
code/Labs/lab3_v2/newsgroups.proc.test
code/Labs/lab3_v2/model_newsgroup.vec
code/Labs/lab3_v2/model_newsgroup.bin
LectureNotes/lecture_note.pdf
code/Labs/lab3_v2/.val_data_tokens.p.icloud
*.icloud
code/Labs/lab4/lab4_data.ipynb
LectureNotes/Lecture1/Doc1.docx
code/Labs/Lab1/lab1.pdf
code/Assignment1/nlp1.s
code/Assignment1/nlp_prince.s
